name: CI

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
  push:
    branches: [ main ]
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
  workflow_dispatch:

jobs:
  integrate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: .NET Test
        run: dotnet test -c Debug
